.Galerie{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.Fotos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.Fotos img{
    width: 23%;
    border-radius: 10px;
}

@media (max-width: 800px){
    .Fotos{
        flex-wrap: wrap;
    }
    .Fotos img{
        width: 48%;
        margin-bottom: 25px;
    }

}