.Sevilla{
    margin: 80px auto;
    width: 90%;
    position: relative;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    transform: translateX(-25%);
    gap: 20px;
    padding: 0;
    margin: 0;
}
.slider ul li{
    flex: 1;
    list-style: none;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(247,181,56,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}
.next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #D8572A;
    z-index: 10;
    right: -75px;
}
.back-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #D8572A;
    z-index: 10;
    left: -70px;
}
