@import url(https://fonts.bunny.net/css?family=anek-gujarati:400);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Gujarati', sans-serif;
}
body{
  background: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width: 20px;
  margin-left: 10px;
  rotate: -90deg;
}
.btn.dark{
  background: #F7B538;
  color: white;
}
.btn.dark img{
  filter: brightness(0) invert(1);
}